@media(max-width:62em){
  
   html,body{
     /* height: 100%; */
     /* width: 100%; */
     margin: 0;
     padding: 0;
     overflow-x: hidden;
     
   }
    .nav{
     position: absolute;
     overflow: hidden;
     height: 100vh;
    }
    .navbar{
      /* width: 100%; */
      height: 100vh;
      /* background: turquoise; */
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      transform: translateX(100%);
      transition: all 0.5s linear;
      z-index: 999;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      margin: -460px 0px;
     

    }
    ul{
        display: block;
        position: absolute;
        text-align: center;
        justify-content: center;
        top: 100%;
        background-color: #212529;
        padding: 0px 150px;
        margin: 0px 0px;
        height: 100vh;
        margin: -446px 0px;
    }
    ul li{
        margin: 40px 0px;
    }
    ul li a{
        text-align: center;
        margin: 20px 0px;
    }
    .mobile-navbar-btn {
        display: block;
        z-index: 999;
        /* border: 3px solid #212529; */
        color: #212529;
        color: red;
        /* margin: -720px 30px; */
        /* margin: 50px; */
        /* margin: 55px -10px  */
        margin: 97px -14px;

        
      }
      .mobile-nav-icon{
        width: 38px;
        height: 50px;
        color: #fff;
        margin: 40px -7px;
      
      }
      .active .navbar{
        height: 117vh;
        transform: translateX(40%);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        width: 43.5vw;
        /* top: 0px; */
      }
      .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
        /* margin: -1px 18px; */
        width: 35px;
       height: 45px;
       /* margin: -13px -8px; */
       margin: -78px 0px;
        
      }
    
      .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
      }
      .hero-section{
        display: block;
        height: 125vh;
      }
      .left-side{
        margin-left: auto;
        margin-right: auto;
      }
      .right-side{
        margin-left: auto;
        margin-right: auto;
      }
      .right-side img{
       
        margin-left: -140px;
        margin-right: auto;
      }
      .About{
        display: block;
        height: 45vh;
       
      }
      .about-left{
        margin-left: auto;
        margin-right: auto;
      }
      .about-left img{
        margin-left: -165px;
        margin-right: auto;
      }
      .about-right{
        margin-left: auto;
        margin-right: auto;

      }
      .about-right p{
        /* text-align: center; */
        width: 200px;
      }
      .Service{
        display: block;
        height: 40vh;
      }
      .Project{
        margin-left: auto;
        margin-right: auto;
      }
      .card{
        margin: 30px 15px;
        /* margin-left: auto; */
        /* margin-right: auto; */
        width: 290px;
        margin-left: auto;
        margin-right: auto;
      }
      
      .item img{
        width: 315px;
        margin-left: auto;
        margin-right: auto;
        
      }
      .h1{
        margin-top:  830px;
      }
      .contact{
        display: block;
        margin-right: auto;
        margin-left: auto;
        /* margin: 40px -222px; */
        margin-top: 60px; 
        height: 91vh;

      }
      .contact form{
        margin: 30px 12px;
        /* margin-left: auto; */
        /* margin-right: auto; */
        padding: 10px 20px;
      }
      footer{
        height: 155px;
    /* text-align: center; */
    /* margin-top: 105px; */
    /* margin: -219px 0px; */
    margin-bottom: 0px;
    /* margin-left: auto; */
    /* margin-right: auto; */
 
  
      }


    }

@media (max-width:400px) {
  html,body{
    /* width: 100%; */
    /* height: 100%; */
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
